@import "./spinner";

a {
  cursor: pointer;
}

#tg-header {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}

.tg-tourduration {
  padding-left: 3px;
  &:before {
    display: none;
  }
}

.material-icons {
  vertical-align: middle;
  margin-right: 10px;
}
.tg-stars span:after,
.tg-stars:before {
  display: none;
}

.tg-populartourfoot {
  padding: 7px 0 0;
}

.bg-tg {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  max-width: 1600px;
}

.tg-sectionspace {
  min-height: 500px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-image: url(http://wahabali.com/work/travelu/images/singup-img.jpg);
}